{% extends "layout.html.twig" %}

{% block content %}

<section class="editor-data">
    <h2>О нас</h2>
    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЛАН5Е"<br><br>ИНН&nbsp;3128106172<br>КПП 312801001<br>ОГРН 1153128002830<br><br>Юридический адрес:&nbsp;Белгородская обл, г.Старый Оскол, мкр.Интернациональный, д.41А, 309504
</section>

{% endblock %}
