{% extends "layout.html.twig" %}

{% block content %}

<section class="editor-data">
    <h2>Доставка и оплата</h2>
    <span style="font-weight:bold;">Безналичный расчет.</span><br><br>
    Оплатить заказ в интернет-магазине можно посредством банковского перевода с расчетного счета клиента (если такой имеется) или&nbsp;наличными с помощью квитанции через любой коммерческий банк.<br>После оформления заказа на нашем сайте вы получите заполненную квитанцию с реквизитами интернет-магазина. Распечатав этот документ&nbsp;с параметрами вашего заказа, вы можете предъявить квитанцию в банке для оплаты. Предоплата должна быть произведена в течение 5 банковских дней с момента оформления заказа. Мы не можем гарантировать сроки&nbsp;поступления средств на счет интернет-магазина. Для каждого банка они уникальны.<br><br>В среднем время поступления оплаты занимает около 2 дней, если перевод совершен<br>на территории Российской Федерации. Моментом оплаты считается поступление денежных средств Заказчика на банковский счет интернет-магазина.&nbsp;<br><br>

    <span style="font-weight:bold;">Доставка осуществляется транспортными компаниями.</span><br><br>
    Выбор транспортной компании происходит на усмотрение покупателя,и в комментарии к заказу вы можетевысказать свои предпочтения по выбору компании перевозчика.Ниже представлен список наиболее популярныхтранспортных компаний:<ul><li>EMS Почта России (<a href="http://www.emspost.ru/" class="theme__link">www.emspost.ru</a>)<br></li><li>DPD (<a href="http://www.dpd.ru/" class="theme__link">www.dpd.ru</a>)<br></li><li>Hermes-DPD (<a href="http://www.hermes-dpd.ru/" class="theme__link">www.hermes-dpd.ru</a>)<br></li><li>B2C (<a href="http://www.b2cpl.ru/" class="theme__link">www.b2cpl.ru</a>)<br></li><li>ПЭК (Первая Экспедиционная Компания) (<a href="http://www.pecom.ru/" class="theme__link">www.pecom.ru</a>)<br></li><li>DHL (<a href="http://www.dhl.ru/" class="theme__link">www.dhl.ru</a>)<br></li><li>PonyExpress (<a href="http://www.ponyexpress.ru/" class="theme__link">www.ponyexpress.ru</a>)<br></li><li>Автотрейдинг (<a href="http://www.ae5000.ru/" class="theme__link">www.ae5000.ru</a>)<br></li><li>ЖелДорЭкспедиция (<a href="http://www.jde.ru/" class="theme__link">www.jde.ru</a>)<br></li><li>СПСР (<a href="http://www.spsr.ru/" class="theme__link">www.spsr.ru</a>)</li><li>Boxberry (<a href="http://boxberry.ru/" class="theme__link">boxberry.ru</a>)</li></ul><br>После оформления и комплектации заказа магазин передает его в транспортную компанию, где формируется посылка и отправляется в&nbsp;ваш город. <br>Вашей посылке присваивается уникальный номер, с помощью которого вы<br>можете отследить ее текущий статус и местоположение. Доставка заказа осуществляется до двери, либо до терминала (пункта выдачи заказов). <br>Условия доставки полностью определяются&nbsp;транспортными компаниями. Подробную информацию о сроках и стоимости вы можете&nbsp;уточнить на сайте транспортной компании, которая осуществляет доставку вашего&nbsp;заказа.<br><br>

    <span style="font-weight:bold;">Срок доставки.</span><br><br>
    Сроки доставки зависят от удаленности вашего города отрегионального центра и города отправки заказа (обычно отправка заказов&nbsp;происходит из Москвы). Информацию о сроках доставки можно уточнить, обратившись&nbsp;в транспортную компанию, которая осуществляет доставку.<br><br>

    <span style="font-weight:bold;">Стоимость доставки.</span><br><br>
    Стоимость доставки определяется транспортной компанией и зависит от удаленности вашего города от регионального центра и города&nbsp;отправки, а также от веса, объема и стоимости заказа.&nbsp;
</section>

{% endblock %}
